.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5ebf9;
}

.card {
  background-color: #fff;
  width: 400px;
  height: 200px;
  align-items: center;
  display: flex;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.card .user_img img {
  height: 170px;
  margin-right: 20px;
  width: 120px;
  border-radius: 15px;
  align-items: center;
  display: flex;
}

.user_info h1 {
  font-size: 14px;
  color: #1e212d;
  margin: 10px 0;
  align-items: center;
  display: flex;
}

.user_info p {
  color: #a1a1a1;
  font-size: 14px;
  align-items: center;
  display: flex;
}

.user_info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.user_info .row h1 {
  font-size: 20px;
  align-items: center;
  display: flex;
}

.btn a {
  padding: 4px 20px;
  border: 1px solid #4c00ff;
  background-color: #fff;
  color: #4c00ff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}
.btn a:hover {
  background-color: #4c00ff;
  color: #fff;
}


